#barreDeRecherche input {
    width: 350px;
    border-radius: 10px;
    margin-left: 420px;
    margin-top: 35px;
    height: 30px;
    border-color: black;
}
#barreDeRecherche img {
    width: 30px;
}
#recette1 {
    margin-top: 20px;
}
#recette1 img {
    width: 520px;
    height: 350px;
    border-radius: 20px;
    margin-left: 60px;
}
.CatégorieRecette,#ThemeRecette {
    border-top: solid 1px;
    margin-top: 10px;
}
.TitreCatégorie {
    font-size: 30px;
    text-align: center;
}
.CatégorieRecette img {
    display: inline-block;
    width: 350px;
    height: 320px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
}
#listeChoix {
    height: 150px;
    background-color: #FD8787;
    color: white;
    margin-bottom: 80px;
}
#listeChoix li {
    padding-top: 15px;
}
.firstIMG {
    width: 400px;
    height: 350px;
    margin-top: 50px;
    margin-left: 300px;
    border-radius: 20px;
}
.block {
    position: relative;
}
