input {
    width: 250px;
    height: 50px;
    background-color: #0EAF0B;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: #0EAF0B 2px solid;
}

input {
    background: linear-gradient(to top, #0EAF0B 5%, #77d42a 100%);
    background-color: #0EAF0B;
}