form input, textarea {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
form {
    text-align: center;
}
p {
    color: #0EAF0B;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}
#image img {
    width: 150px;
    height: 200px;
}
label {
    display: block;
    font-size: 25px;
    font-weight: bold;
}
form {
    background: linear-gradient(#E2E4D2, white);
}
#cacherBouton {
    display: none;
}
#choisirImage {
    color: #0EAF0B;
}
#envoyer {
    margin-top: 100px;
    text-align: center;
}
#quantite {
    width: 70px;
}
#unite {
    width: 50px;
}
.submit {
    width: 150px;
    height: 50px;
    background-color: #0EAF0B;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: #0EAF0B 2px solid;
}
.submit:hover {
    background:linear-gradient(to top, #0EAF0B 5%, #77d42a 100%);
    background-color:#0EAF0B;
}
.hidden {
    display: none;
}
footer {
    margin-top: 100px;
}
#format {
    color: black;
    font-size: 15px;
}
.error {
    color: red;
    text-align: center;
}
