body {
    width: 1200px;
    margin: auto;
}
header {
    background-color: #0EAF0B;
    color: white;
    height: 80px;
}
#headTitle img {
    width: 80px;
}
#userConnection {
    width: 50px;
}
#headTitle {
    display: inline-block;
}
#Titre {
    display: inline-block;
    float: right;
    margin-left: 420px;
    font-family: 'Snell Roundhand';
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a {
    display: inline-block;
    float: right;
    margin-top: 20px;
}
nav a{
    text-decoration: none;
    text-decoration: underline;
    color: black;
    font-size: 25px;
}
nav {
    margin-top: 20px;
    text-align: center;
}