
body {
    width: 100%;
  margin: auto;
}
/*
header {
    background-color: #0EAF0B;
    color: white;
    height: 80px;
}
#headTitle img {
    width: 80px;
}
#userConnection {
    width: 50px;
}
#headTitle {
    display: inline-block;
}
#Titre {
    display: inline-block;
    float: right;
    margin-left: 420px;
    font-family: 'Snell Roundhand';
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a {
    display: inline-block;
    float: right;
    margin-top: 20px;
}
.black {
    text-decoration: none;
    text-decoration: underline;
    color: black;
    font-size: 25px;
} 
nav {
    margin-top: 20px;
    text-align: center;
}
#menu-demo2 {
    float: right;
}
header ul li {
    list-style: none;
    line-height:30px;
    float:right;
    background-color:#0EAF0B;
}
header ul li a {
    color: white;
    padding:5px;
    font-size:20px;
    text-decoration:none;
}
.sousListe {
    width: 100%;
}
header ul li ul {
    display:none;
}
header ul li:hover ul {
    display:list-item;
    position:absolute;
    margin-left: -5.75%;
}*/
.center h1{
    text-align: center !important;
}
ul.nav li a, ul.nav li a:visited {
    font-size: 25px !important;
    color: black !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: black !important;
}

ul.nav li.active a {
    color: black !important;
}
.topnav {
    position: relative;
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      font-weight: bold;
    }
  }
  .userConnection {
    width: 70px !important;
  }