
aside{
    display: inline-block;
    width: 45%;

    
}
article{
    display: inline-block;
    float:right;
    
   
    width: 55%;
    background-color: #C4C4C4;
    
    text-align: center;

    
}


aside img{
    width: 100%;
}

article form{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Oleo Script";
    font-size: 30px
}
form h1 {
    text-decoration: underline;
}
#valider {
    color: white;
}
#centerDiv{
    margin-top: 50px;
}

.input{
    display: block;
    margin:auto;
    margin-top: 40px;
    font-size: larger;
}
p {
    color: black;
    font-size: 20px;
}
#valider{
 
    margin:auto;
    margin-top: 30px;
    background-color: #0EAF0B;
    margin-bottom: 40px;
    border-radius: 6px;

    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    cursor:pointer;


}



#valider:hover{
    background:linear-gradient(to top, #0EAF0B 5%, #77d42a 100%);
	background-color:#0EAF0B;
    
}

#dateNaissance {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

#dateNaissance input {
    margin: .4rem 0;
}
