#barreDeRecherche input {
    width: 350px;
    border-radius: 10px;
    margin-left: 420px;
    margin-top: 40px;
    height: 30px;
    border-color: black;
}
.submit {
    color: white;
    width: 150px;
    height: 50px;
    background-color: #0EAF0B;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: #0EAF0B 2px solid;
}
.submit:hover {
    background:linear-gradient(to top, #0EAF0B 5%, #77d42a 100%);
    background-color:#0EAF0B;
}
#barreDeRecherche img {
    width: 30px;
}
#ajout {
    background-color: #0EAF0B;
    padding: 20px;
    border-radius: 50px;
    margin-top: 50px;
}
#ajout input{
    width: 200px;
    height: 50px;
    background-color: #77d42a;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
    border-radius: 10px;
    display : inline-block;
    float: right;
}
#ajout p {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding-left: 50px;
}
.bt {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.bt:hover {
  background-color: #ddd;
}
.bt.active {
  color:black;
  background-color: #f1f1f1;
}
#myBtnContainer {
  margin-top: 50px;
  text-align: center;
}
.imgRecette {
    margin-top: 50px;
    margin-right: 50px;
    width: 350px;
    height: 250px;
    border-radius: 10px;
}
.green {
    color: white;
    background-color: #77d42a;
}
.green1 {
    background-color: #0EAF0B;
}
#addRec p {
    font-weight: bold;
}
@media (max-width: 991px) {
    .center {
        text-align: center;
    }
}
@media (min-width: 992px) {
    .center{
        margin-left: 500px;
    }
}