.center {
    text-align: center;
}
#en-tete {
    background-color: beige;
}
#en-tete h1{
    text-decoration: underline;
}

#imgRecette {
    width: 350px;
    height: 250px;
    border-radius: 5px;
}#partie2 p{
    display: inline-block;
 }
 #partie2 img {
     display: inline-block;
     width: 50px;
 }
 #difficulte {
    border-top: 3px solid black;
 }
#ingredient {
    border-top: 3px solid black;
}
#ingredient h1 {
    text-align: center;
}
#ingredient p{
     border-bottom: 2px solid grey;
     font-size: 20px;
     display: inline-block;
 }





body{margin-top:20px;}

/*==================================================
  Post Contents CSS
  ==================================================*/

.post-content{
    background: #f8f8f8;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #f1f2f2;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.post-content img.post-image, video.post-video, .google-maps{
    width: 100%;
    height: auto;
}

.post-content .google-maps .map{
    height: 300px;
}

.post-content .post-container{
    padding: 20px;
}

.post-content .post-container .post-detail{
    margin-left: 65px;
    position: relative;
}

.post-content .post-container .post-detail .post-text{
    line-height: 24px;
    margin: 0;
}

.post-content .post-container .post-detail .reaction{
    position: absolute;
    right: 0;
    top: 0;
}

.post-content .post-container .post-detail .post-comment{
    display: inline-flex;
    margin: 10px auto;
    width: 100%;
}

.post-content .post-container .post-detail .post-comment img.profile-photo-sm{
    margin-right: 10px;
}

.post-content .post-container .post-detail .post-comment .form-control{
    height: 30px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin: 7px 0;
    min-width: 0;
}

.text-green {
    color: #8dc63f;
}

.text-red {
    color: #ef4136;
}

body{
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;
    margin-top:20px;
}
.font-size38 {
    font-size: 38px;
}
.team-single-text .section-heading h4,
.section-heading h5 {
    font-size: 36px
}

.team-single-text .section-heading.half {
    margin-bottom: 20px
}

@media screen and (max-width: 1199px) {
    .team-single-text .section-heading h4,
    .section-heading h5 {
        font-size: 32px
    }
    .team-single-text .section-heading.half {
        margin-bottom: 15px
    }
}

@media screen and (max-width: 991px) {
    .team-single-text .section-heading h4,
    .section-heading h5 {
        font-size: 28px
    }
    .team-single-text .section-heading.half {
        margin-bottom: 10px
    }
}

@media screen and (max-width: 767px) {
    .team-single-text .section-heading h4,
    .section-heading h5 {
        font-size: 24px
    }
}


.team-single-icons ul li {
    display: inline-block;
    border: 1px solid #02c2c7;
    border-radius: 50%;
    color: #86bc42;
    margin-right: 8px;
    margin-bottom: 5px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.team-single-icons ul li a {
    color: #02c2c7;
    display: block;
    font-size: 14px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    width: 25px
}

.team-single-icons ul li:hover {
    background: #02c2c7;
    border-color: #02c2c7
}

.team-social-icon li {
    display: inline-block;
    margin-right: 5px
}

.team-social-icon li:last-child {
    margin-right: 0
}

.padding-30px-all {
    padding: 30px;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
img {
    max-width: 100%;
    height: auto;
}
